---
layout: default
---

<div class="home">

  <ul class="posts">
    {% for post in paginator.posts %}
      {% if post.layout != 'beer' %}
        <li>
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li>
      {% if paginator.next_page_path %}
        <a href="{{paginator.next_page_path}}">[<-- Older]</a>
      {% endif %}
      {% if paginator.previous_page_path %}
        <a href="{{ paginator.previous_page_path }}">[Newer -->]</a>
      {% endif %}
    </li>
  </ul>


</div>